<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
		      <localRepository/>
  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>central</name>
          <url>http://localhost:8081/artifactory/my-app</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshotss>
            <enabled>false</enabled>
          </snapshotss>
        </repository>
        <repository>
          <id>snapshots</id>
          <name>snapshots</name>
          <url>http://localhost:8081/artifactory/my-app</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshotss>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshotss>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>central</id>
      <username>test</username>
      <password>{UbtrdEQK+woH3WidpVN16JX9GW+sWE7rM+K0CZZSF4k=}</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>test</username>
      <password>{UbtrdEQK+woH3WidpVN16JX9GW+sWE7rM+K0CZZSF4k=}</password>
    </server>
  </servers>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <mirrors/>
  <proxies/>
</settings>
